* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #0E100F;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #0E100F;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .logo h1 {
    color: #fff;
  } */
  .logo{
    color: #f0f0f0;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 15px;
  }
  .login{
    display: flex;
    margin-right: 0px;
  }


  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta {
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 35px;
    border: 4px solid black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .cta:hover {
    background-color: #f0f0f0;
  }
  
  .features {
    background-color: #fff;
    padding: 50px 0;
  }
  
  .features h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-around;
  }
  
  .feature {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  